.carousel-comp-container {
  margin: 10px 25px 10px 25px;
}

.carousel-title {
  display: flex;
  justify-content: center;
  color: var(--tone5);
  font-family: "Roboto";
  text-shadow: 1px 2px 1px var(--tone1);
  font-weight: 900;
}

.image-container {
  /* position: relative;
  width: 100%; */
  outline: 0;
}

#carousel-imgs {
  height: 300px;
  width: 300px;
  margin: 10px 2px 10px 2px;
  box-shadow: 0 0 10px var(--tone1);
}

.lgksPe:hover:enabled,
.lgksPe:focus:enabled {
  color: var(--tone1) !important;
  background-color: var(--tone5) !important;
  box-shadow: 0 0 4px 0 var(--tone4) !important;
}

.lgksPe {
  background-color: var(--tone5) !important;
  color: var(--tone2) !important;
  box-shadow: 0 0 4px 0px var(--tone4) !important;
}

.iLquPE {
  background-color: var(--tone5) !important;
  color: #999 !important;
  box-shadow: 0 0 4px 0px var(--tone5) !important;
}

user agent stylesheet button {
  color: -internal-light-dark(var(--tone4), var(--tone5));
  background-color: -internal-light-dark(var(--tone5), var(--tone4));
  border-color: -internal-light-dark(var(--tone5), var(--tone5));
  border-image: initial;
}

.cJeRRR {
  background-color: var(--tone5) !important;
  box-shadow: 0 0 1px 3px var(--tone4) !important;
}
