* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: var(--tone2);
  border-bottom: 2px solid var(--tone1);
}

.logo {
  color: rgb(238, 234, 234);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 20px;
}

.logo a {
  color: rgb(238, 234, 234);
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links a {
  color: rgb(238, 234, 234);
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
}

.nav-links li {
  list-style: none;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: rgb(238, 234, 234);
  margin: 5px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .nav-links {
    width: 55%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    position: absolute;
    right: 0px;
    height: 33%;
    top: 8vh;
    background-color: var(--tone2);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.33s ease-in;
  }
  .nav-links li {
    opacity: 0;
  }
  .burger {
    display: block;
  }
  .nav-active {
    position: absolute;
    right: 0px;
    height: 33%;
    top: 8vh;
    background-color: var(--tone2);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 33%;
    transform: translateX(0%);
    transition: transform 0.5s ease-in-out;
  }
  .nav-active li {
    opacity: 1;
    list-style: none;
  }

  .nav-active a {
    color: rgb(238, 234, 234);
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }
}

@media screen and (min-width: 770px) {
  .nav-active {
    display: flex;
    justify-content: space-around;
    width: 40%;
  }
  .nav-active a {
    color: rgb(238, 234, 234);
    letter-spacing: 3px;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px;
  }
  .nav-active li {
    list-style: none;
  }
  .burger {
    display: none;
    cursor: pointer;
  }

  .burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(238, 234, 234);
    margin: 5px;
    transition: all 0.3s ease;
  }
}
