:root {
  --tone1: #03045e;
  --tone2: #0077b6;
  --tone3: #00b4d8;
  --tone4: #90e0ef;
  --tone5: #caf0f8;
}
html,
body {
  font-family: "Playfair Display";
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
