.me {
  margin: 50px 0 50px 0;
  display: flex;
  justify-content: center;
}

.me img {
  height: 60vh;
  border-radius: 10%;
  box-shadow: 0 3px 5px 2px var(--tone2);
}

.about-content {
  display: flex;
  margin: 0 25% 0 25%;
  font-weight: 700;
}

@media screen and (max-width: 770px) {
  .about-content {
    color: white;
  }
}
