.projects-title {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  color: var(--tone3);
  font-family: "Roboto";
  text-shadow: 2px 1px var(--tone2);
  font-weight: 900;
}

.home-projects-cards-container {
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
}

#skillz-buttons {
  display: flex;
  justify-content: space-between;
  margin: 80px 20px 0 20px;
}

.home-buttons {
  display: flex;
  justify-content: space-between;
  margin: 100px 20px 0 20px;
}
.MuiButton-root {
  background-color: var(--tone2) !important;
}

.MuiButton-text {
  color: var(--tone5) !important;
}

@media screen and (max-width: 770px) {
  .home-projects-cards-container {
    display: flex;
    flex-direction: column;
  }
  .projects-title {
    margin: 25px;
  }
}
