.landing-title {
  position: absolute;
  color: white;
  letter-spacing: 3px;
  text-decoration: none;
  font-weight: bold;
  font-size: 25px;
  margin-left: 30px;
  margin-bottom: 15px;

  width: 50vw;
}

@media screen and (max-width: 770px) {
  .landing-title {
    font-size: 15px;
  }
}
