.home-projects-container {
  display: flex;
  justify-content: center;
}

.carousel-container {
  background-color: var(--tone2);
  border-top: 1px solid var(--tone1);
  border-bottom: 1px solid var(--tone1);
}

.home-img1 {
  display: flex;
  justify-content: center;
  margin: 0 25% 50px 25%;
}

.title-container {
  position: relative;
  display: flex;
  align-items: flex-end;
}

@media screen and (max-width: 770px) {
  .home-img1 {
    display: none;
  }
  .home-projects-container {
    margin-top: 50px;
  }
}
