.home-projects-container {
  display: flex;
  justify-content: center;
}

.carousel-container {
  background-color: var(--tone2);
  border-top: 1px solid var(--tone1);
  border-bottom: 1px solid var(--tone1);
}

.home-img1 {
  display: flex;
  justify-content: center;
  margin: 0 25% 50px 25%;
}

.home-img2 {
  background-color: var(--tone1);
  height: 25vh;
  display: flex;
  justify-content: center;
}

.title-container {
  position: relative;
  display: flex;
  align-items: flex-end;
  margin-bottom: 50px;
}

@media screen and (max-width: 770px) {
  .home-img1 {
    height: 33vh;
    margin: 0;
    width: 100%;
  }
  .home-img1 img {
    width: 100vw;
  }
  .title-container {
    margin-bottom: 0px;
  }
}
