.projects-page {
  display: flex;
  justify-content: center;
}

.projects-cards-container {
  margin: 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 770px) {
  .projects-cards-container {
    margin-top: 180px;
  }
}
